.senat-container {
    position: relative;
}
.logo-senat {
    width: 490px;
    height: 450px;

    margin: auto;
    position: absolute;
    top: 536px; left: 0; bottom: 0; right: 0;
}

.senat-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114.3%;
    /* or 37px */
    
    text-align: center;
    color: white;
}
.biodata-senat {
    padding-top: calc(566px - 68px);
    margin-left: calc(769px - 62px);

    font-family: 'Open Sans';
    font-style: normal;
    text-align: center;
}

.biodata-senat h3 {
    position: absolute;

    font-weight: 700;
    font-size: 32px;
    line-height: 114.3%;
    /* or 37px */

    color: #FFFFFF;
}

.biodata-senat p {
    position: absolute;
    width: 470px;
    height: 86px;
    margin-top: 39px;
    left: 631px;

    font-weight: 400;
    font-size: 24px;
    line-height: 114.3%;
    /* or 27px */

    color: #FFFFFF;
}

.desk-senat-title {
    top: 832px;
    padding-left: calc(720px - 62px);
    padding-top: 145px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 114.3%;

    color: white;
}

.desk-senat {
    margin-right: 112px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
}

.box-contact {
    position: absolute;
    width: 1154.02px;
    height: 53px;
    margin-left: calc(290px - 62px);
}

.box-contact p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

@media(max-width: 500px) {
    .content-bg {
        background: linear-gradient(90deg, #321943 0%, #0B0A3C 100%);
    }

    .page-content {
        overflow-x: hidden;
        transition: all 300ms ease;
        z-index: 90;
        padding-left: 0;
        padding-right: 0;
        margin-top: 21px;
        margin-left: 67px;
        margin-right: 56px;
        margin-bottom: 39px;
    }

    .logo-senat {
        position: absolute;
        width: 218px;
        height: 205px;
        left: 108px;
        top: 104px;

        background: white;
    }

    .biodata-senat {
        padding-top: calc(566px - 68px);
        margin-left: calc(769px - 62px);
    
        font-family: 'Open Sans';
        font-style: normal;
        text-align: center;
    }
    
    .biodata-senat h3 {
        position: absolute;
    
        font-weight: 700;
        font-size: 32px;
        line-height: 114.3%;
        /* or 37px */
    
        color: #FFFFFF;
    }
    
    .biodata-senat p {
        position: absolute;
        width: 470px;
        height: 86px;
        margin-top: 39px;
        left: 631px;
    
        font-weight: 400;
        font-size: 24px;
        line-height: 114.3%;
        /* or 27px */
    
        color: #FFFFFF;
    }
    
    .desk-senat-title {
        top: 832px;
        padding-left: calc(720px - 62px);
        padding-top: 145px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 114.3%;
    
        color: white;
    }
    
    .desk-senat {
        margin-right: 112px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .box-contact {
        position: absolute;
        width: 1154.02px;
        height: 53px;
        margin-left: calc(290px - 62px);
    }
    
    .box-contact p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    
        color: #FFFFFF;
    }
}