body{
    background-image: url(../assets/bacground-2.png) !important;
    background-size: cover;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 6rem;
    box-shadow: inset rgba(41, 1, 53, 0.66) 0px 1000rem 100px;
    width: 100%;
}

p{
    line-height: 1em;
    text-align: center;
    color: #fff;
    padding-inline-start: 0em;
    padding-bottom: 4em;
}


h3, h4, h5, h6 {
    line-height: 1em;
    text-align: center;
}

h2{
    line-height: 1em;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
h5{
    line-height: 1em;
    text-align: center;
    color: #fff;
    padding-bottom: 2rem;
}


input{
    border-width: 0;
}
