@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary: #7739A3;
    --secondary: #1A75FF;
    --bawaan-gradient-1:rgb(240,65,255); /*Base Color*/
    --bawaan-gradient-2: rgb(119,57,163); /*Text Color*/
    --gradient-1: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130,165,234,1) 100%);
    --gradient-2: linear-gradient(90deg, rgba(119,57,163,1) 0%, rgba(26,117,255,1) 100%);
    --white: #fff;
    --black: #000;
    --grey: #C4C4C4;
    --primary-color-1: #110f58;
    --primary-color-2: rgba(91, 207, 197, 0.2);
    --font-family-title: Poppins, 'open sans';
    --font-family-body: Poppins, 'open sans';
    --font-color-primary: #174461; 
    --font-color-primary-2: #FFFFFF;
    --font-color-subheadline: #071D2C; 
    --font-color-secondary: #686868;
    --font-color-call-to-act-2:#4a4a4a;
    --page-background-1: #F9FAFB;
    --page-background-2: #f6f6f6;
}

body {
    padding-bottom: 100rem;
}

.padding-top-bottom {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.landing-page{
    aspect-ratio: 16/9;
    height: 50rem;
    background-image: url(assets/media/pplk.png);
    background-size: cover;
    background-position: 65% 0%;
}

.gambar{
    max-width: 35rem;
    position: relative;
    top: 25%;
}

.name{
    font-weight: bold;
    color: var(--white);
}

.under-landing-page, .fun-fact, .begalin{
    background: rgb(11,10,60);
    background: linear-gradient(90deg, rgba(11,10,60,1) 0%, rgba(50,25,67,1) 100%);
}

.card{
    width: 18rem;
    height: 21rem;
    padding-top: 2.3rem;
    border-radius: 25px;
}

.card .card-body svg #link-icon{
    fill: var(--gradient-1);
}


.link-tilte{
    font-size: 2rem;
    font-weight: bold;
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transform: translateY(20px);
}

.card:hover{
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
}


.card:hover .card-body .link-tilte{
    background: none;
    -moz-text-fill-color: white;
    -webkit-text-fill-color: white;
    color: white;
}


.card:hover .card-body #link-icon{
    fill: white;
}


.scrolling-wrapper-flexbox-mini {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 26px;
    padding-right: 26px;
    place-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-slide-menu-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    width: 15%;
    height: 55px;
    border-radius: 10px;
    color: var(--font-color-call-to-act-2);
    text-decoration: none;
    font-family: var(--font-family-body);
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 5px 10px 1px rgb(138 139 140 / 18%);
}

.canvas{
    width: 100%;
}

.carousel-contaner{
    border-radius: 25px;
    height: 21rem;
    box-shadow: #000000 0px 0px 10px;
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
}
.carousel-card{
    margin: 10px 0px;
    width: 100%;
    height: 18rem;
    border-radius: 25px;
    background: var(--primary);
    opacity: 0.5;
    box-shadow: #000000 0px 0px 10px;
}

.item{
    transform: scale(0.85);
}

.active .item{
    transform: scale(1);
    z-index: 999;

}
.begalin-container{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: var(--primary);
}

.begalin-card{
    height: 20rem;
    border-radius: 20px;
    background-color: var(--primary);
}

.owl-dots{
    text-align: center;
    margin-top: 40px;
  }
  .owl-dot{
    margin-bottom: 20px!important;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background: white!important;
    border-radius: 14px;
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #0072bc!important;
    transform: scale(1.3);
  }

  .medpart{
    padding-top: 7rem;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: var(--primary);
  }
  .card-medpart{
    width: 20px;
    height: 3px;
    border-radius: 20px;
    background-color: white;
}

@media screen and (max-width: 570px) {
    .landing-page{
        aspect-ratio: 1/1;
        height: 23rem;
    }
    .under-landing-page{
        display: none;
    }
    .carousel-card{
        padding: 6px 0px;
        height: 9rem;
        box-shadow: #000000 0px 0px 7px;
    }
    .carousel-contaner{
        height: 12rem;
    }

    .maskot {
        height: 1px;
        display: none;
    }
    
}
@media screen and (max-width: 1400px) {
    .card{
        width: 12rem;
        height: 15rem;
        padding-top: 0;
        border-radius: 25px;
    }
    .gambar-1 {
        max-width: 100px;
    }

    .link-tilte{
        font-size: 2rem;
        font-weight: bold;
        transform: translateY(0px);
    }
    
    .carousel-card{
        padding: 6px 0px;
        height: 9rem;
    }
    .carousel-contaner{
        height: 12rem;
    }
    /* .maskot-awal{
        padding-top: 20px;
    } */

    .maskot {
        height: 30rem;
    }
    
}


